In [ ]:
print("This is a notebook! Hello World!")

In [ ]:
spark.sql("Select 1")

In [ ]:
spark.sql("Select 67")

In [ ]:
spark.sql("Select 45")

In [1]:
spark.sql("Select 'Hello World!'")

DataFrame['Hello World!': string]

In [ ]:
df = spark.sql("select 1")

In [ ]:
df.show()

In [2]:
df = spark.read.table("bridge_monitoring.03_gold.bridge_metrics").select("Name", "Location")

In [3]:
df.show()

+--------------------+--------------------+
|                Name|            Location|
+--------------------+--------------------+
|Vasco da Gama Bridge|    Lisbon, Portugal|
|      Millau Viaduct| Tarn Valley, France|
|Vasco da Gama Bridge|    Lisbon, Portugal|
|15 July Martyrs B...|    Istanbul, Turkey|
|15 July Martyrs B...|    Istanbul, Turkey|
|      Millau Viaduct| Tarn Valley, France|
|15 July Martyrs B...|    Istanbul, Turkey|
|        Forth Bridge|Firth of Forth, S...|
|Vasco da Gama Bridge|    Lisbon, Portugal|
|        Forth Bridge|Firth of Forth, S...|
|      Millau Viaduct| Tarn Valley, France|
|        Forth Bridge|Firth of Forth, S...|
|      Øresund Bridge|Copenhagen–Malmö,...|
|      Øresund Bridge|Copenhagen–Malmö,...|
|      Øresund Bridge|Copenhagen–Malmö,...|
+--------------------+--------------------+

In [8]:
df = spark.sql("""
SELECT
  usage_date,
  sku_name,
  SUM(usage_quantity) AS total_dbus
FROM system.billing.usage
WHERE usage_date > DATE_SUB(CURRENT_DATE(), 30)
GROUP BY 1, 2
ORDER BY 1 DESC;
""")

In [11]:
display(df)

DataFrame[usage_date: date, sku_name: string, total_dbus: decimal(38,18)]